<!DOCTYPE html>
 <html>
    <head>
        <title>Scolarité MIT university</title>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     </head>
     <body>
    <div class="container">
        <div *ngIf="alerte" class="alert alert-success alert-dismissible fade show w-25" role="alert">
            <strong>Succès!</strong> Mise à jour réussie!
            <button (click)="CloseAlerte()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
        </div>
      <h1>Mise à jour d'une formation</h1>
      <form [formGroup]="formationform" (ngSubmit)="updateFormation()">           

            <div class="form-group">
               <label>Libelle formation</label>
               <input type="text"  class="w-25 form-control" formControlName="libelle">
            </div>

            <div class="form-group">
               <label>Formation</label>
               <select   class="w-25 form-control"  formControlName="niveau">
                  <option *ngFor="let item of listNiveau" value="{{item.id}}">
                     {{item.libelle}}
                  </option>                  
               </select>
            </div>
            <br/>
            <button type="submit" class = "btn btn-primary">Update</button>
      </form>
</div>
</body>
</html>
