<!DOCTYPE html>
<html>
  <head>
    <title>Liste des étudiants</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="container">
      <h1>Liste des étudiants</h1>
      <a class="nav-link" routerLink="/addetudiant"><img src="../../assets/ajout.png" alt="Ajouter un nouvel étudiant" width="25px" height="25px"></a>
      <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search by name, firstname etc...">   
        <table  class="table">
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col">Email</th>
              <th scope="col">Ville</th>
              <th scope="col">Matricule</th>
              <th scope="col">Téléphone</th>
              <th scope="col">Formation</th>
              <th scope="col">Niveau</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of etudiants | paginate : {itemsPerPage:5,currentPage:page,totalItems:totalRecord} | filter : searchText">
              <td>{{item.name}}</td>
              <td>{{item.firstname}}</td>
              <td>{{item.email}}</td>
              <td>{{item.city}}</td>
              <td>{{item.matricule}}</td>
              <td>{{item.phone}}</td>
              <td>{{item.formation.libelle}}</td>
              <td>{{item.formation.niveau}} iéme année</td>
              <td>
                <a routerLink="/updateetudiant/{{item.id}}"><img src="../../assets/modif.jfif" width="25px" height="25px"></a>
                <a (click)="deleteEtudiant(item.id)" href="/etudiant"><img src="../../assets/supp.jpg" width="25px" height="25px"></a>
              </td>
            </tr>          
          </tbody>
        </table>

      <div class="pagination">
          <pagination-controls (pageChange)="page=$event"></pagination-controls>
      </div>
      <button (click)="MakePDF()"><img src="../../assets/pdf.png" width="50px" height="25px"></button>
    </div>    
  </body>
</html>
