<!DOCTYPE html>
<html>
  <head>
    <title>Liste des étudiants</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="container">
      <h1>Liste des étudiants</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Ville</th>
            <th>Matricule</th>
            <th>Téléphone</th>
            <th>Formation</th>
            <th>Niveau</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of etudiants | paginate : {itemsPerPage:5,currentPage:page,totalItems:totalRecord}">
            <td>{{item.name}}</td>
            <td>{{item.firstname}}</td>
            <td>{{item.email}}</td>
            <td>{{item.city}}</td>
            <td>{{item.matricule}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.formation.libelle}}</td>
            <td>{{item.formation.niveau}} iéme année</td>
            <td>
              <a routerLink="/updateetudiant/{{item.id}}"><img src="../../assets/modif.jfif" width="25px" height="25px"></a>
                <a (click)="deleteEtudiant(item.id)" href="/etudiant"><img src="../../assets/supp.jpg" width="25px" height="25px"></a>
            </td>
          </tr>          
        </tbody>
      </table>

      <div class="pagination">
          <pagination-controls (pageChange)="page=$event"></pagination-controls>
      </div>
    </div>
  </body>
</html>
