<!DOCTYPE html>
 <html>
    <head>
        <title>Scolarité MIT university</title>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     </head>
     <body>
    <div class="container">
      <div *ngIf="alerte" class="alert alert-success alert-dismissible fade show w-25" role="alert">
         <strong>Mise à jour effectuée avec succès!</strong>
         <button (click)="CloseAlerte()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
     </div>
      <h1>Rattachement d'un module à une formation</h1>
      <form [formGroup]="formationmoduleform" (ngSubmit)="updateFormationModule()">
        <div class="form-group">          
            <mat-form-field color="accent" appearance="fill" class="w-25 form-control">
             <mat-label>Date début</mat-label>
             <input matInput [matDatepicker]="picker1" formControlName="dateDebut">
             <mat-hint>MM/DD/YYYY</mat-hint>
             <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
             <mat-datepicker #picker1></mat-datepicker>
           </mat-form-field>
       </div>

       <div class="form-group">
          <mat-form-field color="accent" appearance="fill" class="w-25 form-control">
             <mat-label>Date fin</mat-label>
             <input matInput [matDatepicker]="picker2" formControlName="dateFin">
             <mat-hint>MM/DD/YYYY</mat-hint>
             <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
             <mat-datepicker #picker2 ></mat-datepicker>
           </mat-form-field>
       </div>

       <div class="form-group">
          <label>Heure de début</label>
          <input placeholder="00h"  class="w-25 form-control"  formControlName="creneauHoraireDebut"/>
       </div>

       <div class="form-group">
          <label>Heure de fin</label>
          <input placeholder="00h"  class="w-25 form-control"  formControlName="creneauHoraireFin"/>
       </div>

       <div class="form-group">
          <label>Jour</label> 
          <select   class="w-25 form-control"  formControlName="jourSemaine">
             <option *ngFor="let item of jourDeSemaine" value="{{item.id}}">
                {{item.jour}}
             </option>                  
          </select>          
       </div>

       <div class="form-group">
          <label>Fréquence</label> 
          <select   class="w-25 form-control"  formControlName="periodicite">
             <option *ngFor="let item of periodiciteList" value="{{item.id}}">
                {{item.libelle}}
             </option>                  
          </select>          
       </div>

        <div class="form-group">
            <label>Module</label>
            <select   class="w-25 form-control"  formControlName="moduleId">
               <option *ngFor="let item of modules" value="{{item.id}}">
                  {{item.descriptif}}
               </option>                  
            </select>
         </div>

        <div class="form-group">
            <label>Formation</label>
            <select   class="w-25 form-control"  formControlName="formationId">
                <option *ngFor="let item of formations" value="{{item.id}}">
                    {{item.libelle}}
                </option>                  
            </select>
        </div>
            <br/>
            <button type="submit" class = "btn btn-primary">Update</button>
      </form>
</div>
</body>
</html>

<pre>{{formationmoduleform.value | json }}</pre>