<!DOCTYPE html>
<html>
  <head>
    <title>Scolarité MIT</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="container">
      <nav>  
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" routerLink="/etudiant">Etudiants</a></li>          
            <li class="nav-item"><a class="nav-link" routerLink="/formation">Formations</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/module">Modules</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/formateur">Formateurs</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/formationmodule">Planning cours</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/planningsemaine">Planning de la semaine</a></li>
        </ul>
      </nav>      
    </div>
  </body>
</html>

<router-outlet></router-outlet>