<!DOCTYPE html>
<html>
  <head>
    <title>Liste des modules</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="container">
      <h1>Liste des modules en <b>{{libelle}}</b></h1>
      <table class="table">
        <thead>
          <tr>
            <th>Descriptif</th>
            <th>Cours en ligne</th>
            <th>Nom formateur</th>
            <th>Prénom formateur</th>
            <th>Email formateur</th>  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of modules | paginate : {itemsPerPage:5,currentPage:page,totalItems:totalRecord}">
            <td>{{item.descriptif}}</td>
            <td><input type="checkbox" [checked]="item.isOneline" disabled></td>
            <td>{{item.formateur.name}}</td>
            <td>{{item.formateur.firstname}}</td>
            <td>{{item.formateur.email}}</td>                  
          </tr>          
        </tbody>
      </table>

      <div class="pagination">
          <pagination-controls (pageChange)="page=$event"></pagination-controls>
      </div>
    </div>
  </body>
</html>
