<!DOCTYPE html>
<html>
  <head>
    <title>Liste des formations</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="container">
      <h1>Liste des formations</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Libelle</th>
            <th>Niveau</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of formations">
            <td>{{item.libelle}}</td>
            <td>{{item.niveau}}</td>  
            <td><a (click)="deleteFormation(item.id)" href="/formation">Delete</a></td>          
          </tr>          
        </tbody>
      </table>
    </div>
  </body>
</html>