<!DOCTYPE html>
 <html>
    <head>
        <title>Scolarité MIT university</title>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     </head>
     <body>
    <div class="container">
      <div *ngIf="alerte" class="alert alert-success alert-dismissible fade show w-25" role="alert">
         <strong>Mise à jour effectuée avec succès!</strong>
         <button (click)="CloseAlerte()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
     </div>
      <h1>Mise à jour d'un étudiant</h1>
      <form [formGroup]="etudiantform" (ngSubmit)="updateEtudiant()">
            <div class="form-group">
               <label>Nom</label>
               <input type="text"  class="w-25 form-control" formControlName="name">
            </div>

            <div class="form-group">
               <label>Prénom</label>
               <input type="text"  class="w-25 form-control" formControlName="firstname">
            </div>

            <div class="form-group">
               <label>Email</label>
               <input type="email"  class="w-25 form-control" formControlName="email">
            </div>

            <div class="form-group">
               <label>Téléphone</label>
               <input type="text"  class="w-25 form-control" formControlName="phone">
            </div>

            <div class="form-group">
               <label>Ville</label>
               <input type="text"  class="w-25 form-control" formControlName="city">
            </div>

            <div class="form-group">
               <label>Matricule</label>
               <input type="text" readonly="readonly" class="w-25 form-control" formControlName="matricule">
            </div>           

            <div class="form-group">
               <label>Formation</label>
               <select   class="w-25 form-control"  formControlName="formationId">
                  <option *ngFor="let item of formations" value="{{item.id}}">
                     {{item.libelle}}
                  </option>                  
               </select>
            </div>
            <br/>
            <button type="submit" class = "btn btn-primary">Update</button>
      </form>
</div>
</body>
</html>
